<a href="https://colab.research.google.com/github/YunhyeongKang/Basic_Python_Grammar/blob/main/2%EA%B0%95_%5B%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95%5D_%EB%B3%80%EC%88%98%EB%9E%80%2C_print%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 변수(Variable)**

'변수'란 값을 저장하는 메모리 공간, 메모리 주소는 16진수 체계 & 이 주소는 매번 변경 -> 사람이 16진수 형태의 매번 변경되는 메모리 주소를 기억하여 작업하기 곤란함.

i.e. 변수란 **"사람이 기억하기 쉽고 만들기 쉬운 형태의 메모리 주소"**이다.


### 1) 변수 선언: 변수 이름 규칙

*   영문자, 숫자, _(underscore)를 사용할 수 있다.
*   영문자나 _ 로 시작할 수 있으나, 숫자로는 시작할 수 없다.
*   공백을 사용할 수 없다.
*   키워드, 연산자의 이름(if, while, def, is 등)을 변수 이름으로 사용할 수 없다.
*   변수 이름은 대소분자를 구분한다.

ex) "num", "names", "x", "sum_x"

In [2]:
name = 2
_name = 3
print(name)
print(_name)

2
3

In [5]:
name = 2
NAME = 3
nAmE = 4
print(name)
print(NAME)
print(nAmE)

2
3
4

*   **예약어**는 변수명으로 사용할 수 없다.
파이썬이 이미 다른 용도로 사용하고 있는 단어는 변수명으로 사용할 수 없다.

[참고: 예약어 목록]

   False / class / finally / is / return / continue / None / for / lambda / try / def / from / True / noniocal / while / and / del / global / not / with / as / elif / if / or / yield / assert / else / import / pass / break

   **Solution* : "대소문자 구별"이라는 특성을 이용해서 변수명을 변형하여 사용하면 된다.
   
   ex) CLAss, Class, _class, class123


### 2) "a = 5" : 변수의 할당(저장)
수학에서는 '='이 '같다'를 의미하지만, 코딩에서는 **"오른쪽 값을 왼쪽에 대입해준다/넣어준다"**라는 의미이다.

*+α) 코딩에서의 '같다'는 '=='으로 '='을 2개 사용하여 표기한다.*

In [8]:
a = 100
b = 200
c = 5.2
d = "Hello"
print(a)
print(b)
print(c)
print(d)

100
200
5.2
Hello

# **2. print() 함수**

print() 함수는 **출력하는 함수**이다. () 안의 내용을 한번에 출력한다. 만약 괄호 안에서 여러 개를 출력하고 싶다면 comma(,)로 구분해야 한다. 숫자, 변수 외에 문자(열)은 큰따옴표 또는 작은따옴표로 묶어야한다.

cf) 대부분의 다른 프로그래밍 언어는 문자열을 사용할 때 반드시 큰 따옴표를 사용해야 한다.

In [11]:
a = 100
b = 200
c = a + b
d = a - b
e = a * b
f = a / b
print(a)
print(a, b)
print(c)
print(a, "+", b, '=', c)
print(a, "-", b, '=', d)
print(a, "*", b, '=', e)
print(a, "/", b, '=', f)

100
100 200
300
100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

In [12]:
a = "안녕하세요,"
b = "처음 뵙겠습니다."
print(a,b)

안녕하세요, 처음 뵙겠습니다.

-> print() 함수에서 comma(,)로 된 곳에는 중간에 빈 칸이 하나 들어간다.

In [13]:
a = "안녕하세요"
b = "처음 뵙겠습니다"
result = a+b
print(result)

안녕하세요처음 뵙겠습니다

-> '더하기'로 이어줬을 경우에는 띄어쓰기가 없이 붙어서 이어진다.

*+α) 문자열에서는 빼기, 곱하기, 나누기 연산자는 지원하지 않는다.*


# **3. input() 함수**

input() 함수는 사용자로부터 키보드로 **입력받도록 도와주는 함수**이다. input() 함수가 실행되면 사용자의 입력을 기다리는 창이 실행된다. 이 때, 사용자의 입력이 있어야만 그 다음으로 넘어갈 수 있다. 사용자고 무언가를 입력하면 입력받은 것을 출력한다. **이때 input() 함수에서 입력받은 값을 변수에 저장하지 않으므로 출력한 후 그냥 사라진다.**

In [14]:
input()

안녕하세요

'안녕하세요'

In [17]:
a = input("숫자를 입력해주십시오: ")

숫자를 입력해주십시오: 100

In [18]:
a = input("숫자1 : ")
b = input("숫자2 : ")
c = a+b
print(c)

숫자1 : 1
숫자2 : 10
110

결과를 보면 1+10=11이 아닌 110이 출력된 것을 확인할 수 있다. 그 원인은 **input() 함수는 입력받은 값을 모두 문자열로 취급**하기 때문이다. 1은 '숫자 1'이 아닌 '문자 1'로, 10도 '숫자 10'이 아닌 '문자열 10'으로 취급한 것이다. input() 함수로 입력받은 것을 숫자로 사용하기 위해서는 입력받은 문자열을 다시 int() 함수를 이용하여 정수로 변환해야 한다.

*int() 함수: ()안의 값이 무엇이든지 정수로 변환해주는 함수

In [19]:
a = int(input("숫자 1 : "))
b = int(input("숫자 2 : "))
c = a+b
print(c)

숫자 1 : 1
숫자 2 : 10
11

In [20]:
print(int(3.2))
print(int("110"))

3
110

위처럼 int() 함수는 소숫점을 버린다.


# **직접해보기**
[1] 두 수를 입력받고, 두 수를 곱한 후 다음과 같이 출력하는 프로그램을 만드세요.

숫자 --> 3

숫자 --> 5

두 수의 곱은 3 * 5 = 15 입니다.

In [22]:
num1 = int(input("숫자 --> "))
num2 = int(input("숫자 --> "))
number = num1*num2
print("두 수의 곱은",num1,"*",num2,"=",number,"입니다.")

숫자 --> 3
숫자 --> 5
두 수의 곱은 3 * 5 = 15 입니다.