<a href="https://colab.research.google.com/github/YunhyeongKang/Basic_Grammar/blob/Python/4%EA%B0%95_%5B%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95%5D_%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C_%EC%8B%A4%EC%8A%B5%EA%B3%BC%EC%A0%9C_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **7. 리스트**

리스트는 **여러 개의 데이터를 한꺼번에 담을 수 있는 자료구조**이다. 리스트는 **변수 여러 개를 줄을 지어 연결**해둔 것으로 생각하면 된다.

**1) 리스트 생성**
리스트는 하나씩 사용하던 변수를 한 줄로 붙여놓은 개념이다. 각각의 데이터에는 번호를 붙여서 접근한다.

*리스트이름 = [값1, 값2, 값3, ...]

리스트를 만드는 형식은 위와 같다. 리스트 이름을 정하고, 대괄호 안에 리스트에 들어갈 값들을 넣는다.

In [3]:
n = [1, 2, 3, 4]
print(n[0])
print(n[0]+n[1]+n[2]+n[3])

1
10

In [6]:
n = [1, 2, 3, 4]
print(n[0])
n[0] = int(input("숫자 : "))
print(n[0])
print(n)

1
숫자 : 5
5
[5, 2, 3, 4]

리스트 각각의 값에 접근하기 위해서는 대괄호를 사용하고 [번호]로 사용할 수 있다. 리스트의 첫 번째 값은 0부터 시작한다.

또한 위와 같이 리스트는 각각의 값들을 변경 가능하다.

그리고, 다음과 같이 비어있는 리스트, 문자열로 구성된 리스트를 생성할 수도 있다.

In [7]:
madelist = []

In [8]:
n = ["apple", "banana"]
print(n)

['apple', 'banana']

In [12]:
n = ["APPLE", "BANANA", 1, 2, 3]
print(n)

['APPLE', 'BANANA', 1, 2, 3]

리스트를 제대로 사용하려면 for문과 같이 사용해야한다.(for문이란, 반복문을 뜻함)

변수가 3, 4개 정도 일 경우에는 큰 상관이 없으나, 만약 변수가 1,000개, 10,000개 일 경우에는 리스트를 사용했다 하더라도 해당 코드를 작성하기 곤란하다. 이럴 경우 for문과 함께 사용한다.

# **8. 리스트 관련 함수(1)**

**1) 리스트에 값 추가하기 : 리스트이름.append(값)**

리스트에 요소를 추가할 수 있는 함수.

In [15]:
madelist = []
print(madelist)

madelist.append(0)
print(madelist)

madelist.append(1)
print(madelist)

[]
[0]
[0, 1]

In [21]:
madelist = []
print(madelist)

for i in range (0, 10) :
  madelist.append(0)

print(madelist)

[]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [20]:
madelist = []
print(madelist)

for i in range (0, 10) :
  new_index = int(input("숫자 : "))
  madelist.append(new_index)

print(madelist)

[]
숫자 : 0
숫자 : 1
숫자 : 2
숫자 : 3
숫자 : 4
숫자 : 5
숫자 : 6
숫자 : 7
숫자 : 8
숫자 : 9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

입력을 받을 때에도 for문을 활용할 수 있다.

In [28]:
n = []
for i in range(0,4) :
  n.append(0)
print(n)

for i in range(0,4) :
  n[i] = int(input("숫자 : "))
print(n)

[0, 0, 0, 0]
숫자 : 1
숫자 : 2
숫자 : 3
숫자 : 4
[1, 2, 3, 4]

# **직접해보기**

0부터 1000까지 숫자 중 짝수만 가지는 리스트를 만드세요.

In [26]:
madelist = []

for i in range(0, 500) :
  madelist.append(2*i)

print(madelist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

***Another solution***)

In [27]:
madelist = []
for i in range(0, 1001) :
  if i%2 == 0 :
    madelist.append(i)

print(madelist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]

# **8. 리스트 관련 함수(2)**

**[음수값으로 접근하기]**

리스트이름[첨자]에서 첨자가 음수값을 넣으면 리스트의 맨 뒤부터 접근할 수 있다.

In [30]:
madelist = []

for i in range(0,10) :
  madelist.append(i)

print(madelist)
print("madelist[-1]은",madelist[-1],"입니다.")
print("madelist[-2]은",madelist[-2],"입니다.")
print("madelist[-3]은",madelist[-3],"입니다.")
print("madelist[-4]은",madelist[-4],"입니다.")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
madelist[-1]은 9 입니다.
madelist[-2]은 8 입니다.
madelist[-3]은 7 입니다.
madelist[-4]은 6 입니다.

**2) 콜론(:)을 사용하여 범위 지정하기**

리스트에 접근할 때 콜론(:)을 사용하여 범위를 지정할 수 있다.

*리스트이름[시작 : 끝+1]

리스트의 시작 위치부터 끝 위치까지 모든 값을 의미한다. 이때, 마지막 첨자는 포함되지 않는 다는 것에 주의하자.(반드시 원하는 끝 위치 "+ 1"을 해줘야한다)

앞을 비워주면 "맨 처음부터"라는 의미, 뒤를 비워주면 "맨 마지막까지"라는 의미

In [32]:
madelist = [1, 2, 3, 4, 5]
print(madelist)

print(madelist[0:4])
print(madelist[:4])
print(madelist[2:5])
print(madelist[2:])
print(madelist[2:4])

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4]
[3, 4, 5]
[3, 4, 5]
[3, 4]

**3) 리스트의 덧셈**

리스트끼리의 덧셈은 두 개의 리스트가 합쳐져서 하나의 리스트가 된다.

In [35]:
madelist = [1,2,3,4,5]
madelist2 = [6,7,8,9,10]

print(madelist)
print(madelist2)
print(madelist + madelist2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**4) 리스트의 곱셈**

리스트끼리의 곱셈은 곱한 횟수만큼 리스트가 반복되어 나온다.

In [36]:
madelist = [1,2,3,4,5]

print(madelist)
print(madelist*2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

**5) 첨자를 사용하여 리스트의 값 변경하기**

첨자를 사용하여 리스트의 특정 값을 변경할 수 있다.

In [37]:
madelist = [1,2,3,4,5]

print(madelist)
madelist[0] = 100
print(madelist)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

**6) 연속된 범위의 리스트의 값 변경하기**

연속된 범위의 리스트의 값을 한번에 변경할 수 있다.

In [39]:
madelist = [1,2,3,4,5]

print(madelist)
madelist[1:3] = [10, 10, 10]


print(madelist)

[1, 2, 3, 4, 5]
[1, 10, 10, 10, 4, 5]

In [43]:
madelist = []

for i in range(0,10) :
  madelist.append(i)

print(madelist)

madelist[1:2] = [10,10]
print(madelist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 10, 10, 2, 3, 4, 5, 6, 7, 8, 9]

만약 madelist[1:2] 대신에 madelist[1]을 넣는다면 해당 위치에 리스트가 들어가게 된다.

In [44]:
madelist = []

for i in range(0,10) :
  madelist.append(i)

print(madelist)

madelist[1] = [10,10]
print(madelist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, [10, 10], 2, 3, 4, 5, 6, 7, 8, 9]

# **직접해보기**

10개의 수를 입력받아 리스트를 생성하고 뒤에서부터 거꾸로 출력하세요.

-------------------------------------------

8 번째 수를 입력하세요

8

9 번째 수를 입력하세요

9

10 번째 수를 입력하세요

10

10  9 8 7 6 5 4 3 2 1

-------------------------------------------

In [68]:
madelist = []
for i in range(0,10) :
  print(f"{i+1} 번째 수를 입력하세요")
  n = int(input())
  madelist.append(n)

print(madelist[-1],madelist[-2],madelist[-3],madelist[-4],madelist[-5],madelist[-6],madelist[-7],madelist[-8],madelist[-9],madelist[-10])

1 번째 수를 입력하세요
1
2 번째 수를 입력하세요
2
3 번째 수를 입력하세요
3
4 번째 수를 입력하세요
4
5 번째 수를 입력하세요
5
6 번째 수를 입력하세요
6
7 번째 수를 입력하세요
7
8 번째 수를 입력하세요
8
9 번째 수를 입력하세요
9
10 번째 수를 입력하세요
10
10 9 8 7 6 5 4 3 2 1

***Another solution)***

In [67]:
t = []
for i in range(0,10) :
  print(f"{i+1} 번째 수를 입력하세요")
  n = int(input())
  madelist.append(n)

for i in range(-1, -11, -1) :
  print(madelist[i], " ", end=' ')

1 번째 수를 입력하세요
1
2 번째 수를 입력하세요
2
3 번째 수를 입력하세요
3
4 번째 수를 입력하세요
4
5 번째 수를 입력하세요
5
6 번째 수를 입력하세요
6
7 번째 수를 입력하세요
7
8 번째 수를 입력하세요
8
9 번째 수를 입력하세요
9
10 번째 수를 입력하세요
10
10   9   8   7   6   5   4   3   2   1