<a href="https://colab.research.google.com/github/YunhyeongKang/Basic_Grammar/blob/Python/5%EA%B0%95_%5B%EC%97%B0%EC%82%B0%EC%9E%90%5D_%EC%82%B0%EC%88%A0%EC%97%B0%EC%82%B0%EC%9E%90%2C_%EB%85%BC%EB%A6%AC%EA%B4%80%EB%A0%A8%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **9. 산술연산자**

대표적인 산술연산자에는 더하기(+), 빼기(-), 곱하기(*), 나누기(/)가 있다.

**1) 더하기(+)**

더하기 연산자는 +를 사용한다.

'n1 = n1 + 2'와 같은 경우에는 'n1 += 2'로 간소화할 수 있다.

In [ ]:
n1 = 10
n2 = 5

result = n1 + n2
print(result)

15

In [ ]:
n1 = 10
n1 += 3

print(n1)

13

***Application)***

In [ ]:
n1 = 10
for i in range(0, 10) :
  n1 += 2

print(n1)

30

**2) 빼기(-)**

빼기 연산자는 -를 사용한다.

'n1 = n1 - 2'와 같은 경우에는 'n1 -= 2'로 간소화할 수 있다.

In [3]:
n1 = 10
n2 = 5
result = n1 - n2
print(result)

5

In [ ]:
n1 = 10
n1 -= 3
print(n1)

7

**3) 곱하기(*)**

곱하기 연산자는 *을 사용한다.

'n1 = n1 * 2'와 같은 경우, 'n1 *= 2'로 간소화할 수 있다.

In [ ]:
n1 = 10
n2 = 5
result = n1 * n2
print(result)

50

In [ ]:
n1 = 10
n1 *= 2
print(n1)

20

**4) 나누기(/)**

나누기 연산자는 /를 사용한다.

'n1 = n1 / 2'와 같은 경우에는 'n1 /= 2'로 간소화할 수 있다.

In [ ]:
n1 = 10
n2 = 5
result = n1 / n2
print(result)

2.0

In [ ]:
n1 = 10
n1 /= 2
print(n1)

5.0

**5) 산술연산자 우선순위**

*   더하기와 빼기 연산자의 우선순위는 같다. (순서를 바꾸어도 결과가 동일)
*   곱하기와 나누기 연산자의 우선순위는 같다. (순서를 바꾸어도 결과가 동일)
*   모두 혼합되어 있는 경우에는 더하기, 빼기보다 곱하기, 나누기가 우선시 된다.

In [ ]:
n1 = 10
n2 = 5
n3 = 3
result1 = n1 + n2 - n3
result2 = n2 - n3 + n1
print(result1,result2)

12 12

In [ ]:
n1 = 10
n2 = 5
n3 = 2
result1 = n3 / n1 * n2
result2 = n2 * n3 / n1
print(result1, result2)

1.0 1.0

In [ ]:
n1 = 10
n2 = 5
n3 = 2
result1 = n2 * n3 + n1
result2 = n2 + n1 * n3
result3 = (n2 + n1) * n3
print(result1, result2, result3)

20 25 30

**6) 몫(//)**

'//' 연산자는 나누기의 결과가 소수가 나올 때, 소수점을 버리고 **몫만 반환**한다.

'n1 = n1 // 2'와 같은 경우, 'n1 //= n2'로 간소화할 수 있다.

In [1]:
n1 = 10
n2 = 3
result = n1 // n2
print(result)

3

**7) 나머지(%)**

'%' 연산자는 나누기의 결과가 소수가 나올 때, **나머지만 출력**한다.

'n1 = n1 % 2'와 같은 경우, 'n1 %= 2'로 간소화할 수 있다.

In [2]:
n1 = 10
n2 = 3
result = n1 % n2
print(result)

1

**8) 제곱(* *)**

'**'는 제곱 연산자를 출력한다.

'n1 = n1 ** 2'와 같은 경우, 'n1 **= 2'로 간소화할 수 있다.

In [4]:
n1 = 3
n2 = 2
result = n1 ** n2
print(result)

9

# **10. 대입연산자(=)**

대입연산자는 오른쪽의 값이나 계산 결과는 왼쪽에 대입하라는 의미로 '='을 사용한다.

=을 기준으로 오른쪽은 숫자, 수식, 문자열, 계산식 등 문법이 틀리지 않는다면 무엇이든 올 수 있다.

왼쪽은 반드시 변수 1개만 있어야한다.

In [5]:
n = 100
print(n)
n = 100 + 200
print(n)
n = "Hi" + "Hello"
print(n)

100
300
HiHello

콤마(,)로 분리하면 왼쪽의 변수가 2개 이상 지정 가능하다. 단, 오른쪽에도 콤마로 구분하여 동일한 수의 숫자, 수식, 문자열을 넣어주어야 한다.

In [6]:
n1,n2 = 100,200
print(n1)
print(n2)

n1,n2 = 100+200,100*200
print(n1)
print(n2)

n1,n2 = "Hi"+"Hello","Hi"*3
print(n1)
print(n2)

100
200
300
20000
HiHello
HiHiHi

In [7]:
n1, n2, n3 = 2, 3, 6
print(n1, n2, n3)

2 3 6

# **11. 비교연산자**

비교연산자는 어떤 것이 같은지, 같지 않은지, 큰지, 작은지, 크거나 같은지, 작거나 같은지를 비교한다.

그 결과는 **참(True) 또는 거짓(False)**이 된다.(i.e. 불형 결과물이 나옴)

**1) 같다(==)**

In [12]:
print(2 == 2)
print(2 == 3)
print(2 == (3-1))
print("Hello" == "Hello")
print("Hi" == "Hello")

True
False
True
True
False

**2) 같지 않다(!=)**

In [14]:
print(2 != 3)
print(3 != 3)

True
False

**3) 크다, 작다 (>, <)**

In [15]:
print(3>2)
print(2>3)
print(2<3)

True
False
True

**4) 크거나 같다, 작거나 같다 (>=, <=)**

In [17]:
print(10 >= 9)
print(10 >= 10)
print(9 <= 10)

True
True
True

# **12. 논리연산자**

**1) and**

and는 모든 조건이 참일 때만 참이다.

*   "True" and "True" -> Ture
*   "True" and "False" -> False
*   "False" and "True" -> False
*   "False" and "False" -> False

Like **"Intersection"** in Mathematics.

In [20]:
num = 5
print((num < 10) and (num > 0))
print((num < 10) and (num > 7))
print((num < 5) and (num > 0))
print((num < 4) and (num > 8))

True
False
False
False

**2) or**

or은 적어도 하나 이상이 참이면 모두 참이다.

*   "Ture" or "Ture" -> True
*   "True" or "False" -> True
*   "False" or "Ture" -> Ture
*   "False" or "False" -> False

Like **"Union"** in Mathematics.

In [21]:
num = 5
print((num < 10) or (num > 0))
print((num < 10) or (num > 7))
print((num < 5) or (num > 0))
print((num < 4) or (num > 8))

True
True
True
False

**3) not**

not은 부정연산자이다.

In [22]:
not (2 <= 3)

False

# **직접해보기**

[1] 파운드를 kg으로 변환해주는 프로그램을 만드세요.

조건: 1 파운드(lb) = 0.453592 킬로그램(kg)
      1 킬로그램(kg) = 2.204623 파운드(lb)

-------------------------------------------

파운드(lb)를 입력하세요 : 10

10 파운드(lb)는 4.53592 킬로그램(kg) 입니다.

-------------------------------------------

In [24]:
pound = int(input("파운드(lb)를 입력하세요 : "))
kg = pound * 0.453592
print(f"{pound} 파운드(lb)는", kg, "킬로그램(kg) 입니다.")

파운드(lb)를 입력하세요 : 10
10 파운드(lb)는 4.53592 킬로그램(kg) 입니다.

[2] 연산자 우선순위에 주의하여 이수학점에 따른 평균 학점을 구하는 프로그램을 만드세요.

파이썬(3) B(3.5)

C언어(2) A(4.0)

모바일(1) A+(4.5)

-------------------------------------------

평균학점 : 3.8333333333333335

-------------------------------------------

In [28]:
python = 3
C = 2
mobile = 1
AA = 4.5
A = 4.0
B = 3.5

avg = (python*B + C*A + mobile*AA) / (python+C+mobile)

print("평균학점 :", avg)

평균학점 : 3.8333333333333335