<a href="https://colab.research.google.com/github/YunhyeongKang/Basic_Grammar/blob/Python/6%EA%B0%95_%5B%EB%82%B4%EC%9E%A5_%ED%95%A8%EC%88%98%5D_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98%2C_%EC%8B%A4%EC%8A%B5%EA%B3%BC%EC%A0%9C_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **13. 내장함수**

**[숫자 관련 내장 함수]**

**1) abs()**

절대값을 구하는 함수.

**"absolute value"**

In [3]:
a = abs(3)
b = abs(-3)
c = abs(3.5)
d = abs(-3.5)
print(a, b)
print(c, d)

3 3
3.5 3.5

**2) round()**

반올림 수행 함수.

ex) 3.4 -> 3 / 3.6 -> 4

In [12]:
print(round(3.4), round(3.5), round(3.7))

num=41.545
print(round(num))
print(round(num, 1))
print(round(num, 2))
print(round(num, -1))

print(round(45.3241, -1))

3 4 4
42
41.5
41.55
40.0
50.0

**3) len()**

괄호 안에 입력된 값의 길이, 개수를 계산.

In [15]:
s = "python"
nums = [1, 2, 3, 4]
ss = ["name", "number"]

print(len(s))
print(len(nums))
print(len(ss))

6
4
2

**4) sum()**

괄호 안에 입력된 리스트의 합.

In [21]:
nums = [1, 2, 3.2, 4]
ss = ["name", "number"]

print(sum(nums))
print(sum(nums, 100))

10.2
110.2

**5) max() / min()**

주어진 값들 중 **최댓값 / 최솟값** 구하기.

문자열의 경우, 사전순서 기준으로 **가장 뒤에 배열된 문자열 / 가장 앞에 배열된 문자열**을 출력.

In [25]:
nums = [1, 2, 3, 4]
ss = ["apple", "orange", "grape"]

print(max(nums))
print(min(nums))
print(max(ss))
print(min(ss))

4
1
orange
apple

**6) sorted()**

숫자 크기 순서대로 정렬해주는 함수

문자열의 경우, 사전순서대로 정렬

In [30]:
nums = [10, 20, 30, 100, 1, 2, 3]
ss = ["apple", "orange", "grape"]

print(sorted(nums))
print(sorted(ss))

[1, 2, 3, 10, 20, 30, 100]
['apple', 'grape', 'orange']

In [35]:
nums = [1, -2, 5, -10]
ss = ["apple", "orange", "grape"]

print(sorted(nums))
print(sorted(nums, key = abs))
print(sorted(nums, reverse = True))
print(sorted(ss, reverse = True))

[-10, -2, 1, 5]
[1, -2, 5, -10]
[5, 1, -2, -10]
['orange', 'grape', 'apple']

**7) split()**

문자열을 일정 기준으로 나누어 리스트에 담는다.

[Rules]

*   괄호 안이 공백인 경우, 띄어쓰기 기준으로 나눈다.
*   괄호 안에 특정 문자를 넣는 경우, 해당 문자를 기준으로 나눈다.

*   괄호 안에 콤마(,)를 넣고 두번째 자리는 split하는 횟수를 뜻한다. 숫자를 써넣으면 해당 숫자만큼만 split한다.

In [38]:
s = "It is Python!"
print(s.split())

ss = "It is Python !"
print(ss.split())

sss = "It, is Python!"
print(sss.split(","))

['It', 'is', 'Python!']
['It', 'is', 'Python', '!']
['It', ' is Python!']

In [41]:
s = "orange, apple, grape"
print(s.split(",", 1))

['orange', ' apple, grape']

**8) append(), index(), remove(), pop()**

*   append() : 리스트에 요소 추가
*   index() : 리스트 안의 요소의 위치 찾기
*   pop() : 리스트 안에서 입력 숫자 인덱스의 요소를 결과로 내보내고, 리스트 안에 있는 해당 인덱스를 제거
*   remove() : 리스트 안의 요소를 제거

In [45]:
words = ["orange", "apple", "grape"]
print(words)
words.append("banana")
print(words)

['orange', 'apple', 'grape']
['orange', 'apple', 'grape', 'banana']

In [51]:
words = ["orange", "apple", "grape"]
idx1 = words.index("apple")
print(idx1)
print(words.index("grape"))

nums = [8, 5, 3, 0, 1, 3]
idx2 = nums.index(3, 0, 4)
print(idx2)
idx3 = nums.index(3, 3)
print(idx3)

1
2
2
5

In [53]:
words = ["orange", "apple", "grape"]
print(words)
fruit = words.pop(1)
print(fruit)
print(words)

['orange', 'apple', 'grape']
apple
['orange', 'grape']

In [54]:
words = ["orange", "apple", "grape"]
print(words)
fruit = words.pop()
print(fruit)
print(words)

['orange', 'apple', 'grape']
grape
['orange', 'apple']

In [59]:
words = ["orange", "apple", "grape"]
print(words)
words.remove("apple")
print(words)

nums = [8, 5, 3, 0, 2, 3]
print(nums)
nums.remove(3)
print(nums)

['orange', 'apple', 'grape']
['orange', 'grape']
[8, 5, 3, 0, 2, 3]
[8, 5, 0, 2, 3]